<html>
<head><title>Login page</title>
</head>

<body>
  <div id='main'>
    <h1>Add Note</h1><br>
    <form action="/addnote" method="post">
    <textarea id="add" rows="1" cols="70" name="title">Title</textarea><br><br>
    <textarea id="add" rows="10" cols="70" name="note">Note/Text Area</textarea><br><br>
    <button id="submit" type="submit">Submit </button>
  </form>
  </div>

</body>
</html>
