<html>
<head><title>Login page</title>
</head>

<body>
  <div id='main'>
    <form action="/login" method="post">
    <h1>Login</h1><br>
    <h3>Username: </h3> <input type="text" name="username" id="username"><br>
    <h3>Password: </h3> <input type="password" name="password" id="password"><br>
    <button id="submit" type="submit">Login </button>
    </form>
  </div>

</body>
</html>
